<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421221473915-1fk9tn196ifoh82348tbop9osgqkdkma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421221473915-1fk9tn196ifoh82348tbop9osgqkdkma</string>
	<key>API_KEY</key>
	<string>AIzaSyBvkjLEU9kYFii2-KmM1dyFhD6NpHSKA2g</string>
	<key>GCM_SENDER_ID</key>
	<string>421221473915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-6aea9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-6aea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421221473915:ios:30034879236f67ca254cde</string>
</dict>
</plist>